<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.espelho.AnexosApp">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_solpac_round"
        android:label="@string/anexos"
        android:roundIcon="@mipmap/ic_solpac_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.ScannerCodBarras"
            android:parentActivityName=".views.MainActivity"></activity>
        <activity
            android:name=".views.FullscreenAnexoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/anexo"
            android:parentActivityName=".views.AnexoActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".views.AlterarSenhaActivity"
            android:label="@string/alterar_senha"
            android:parentActivityName=".views.PerfilActivity" />
        <activity
            android:name=".views.PerfilActivity"
            android:label="@string/perfil"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.AnexoActivity"
            android:label="@string/anexo"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.MainActivity"
            android:label="@string/anexos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.CadastroActivity"
            android:label="@string/cadastrar"
            android:parentActivityName=".views.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.LoginActivity"
            android:label="@string/entrar" />
    </application>

</manifest>